@{
    ViewData["Title"] = "Home Page";
}

<h1>All Messages:</h1>

<ol>
    @foreach (Message message in Model)
    {
        <ul>
            <li>ID: @message.MessageId</li>
            <li>Title: @message.MessageTitle</li>
            <li>Author: @message.MessageAuthor</li>
            <li>Date: @message.MessageDate</li>
            <li>Body: @message.MessageBody</li>
        </ul>
        <a href="/Messages/Details/@(message.MessageId)">
            <p>View Details</p>
        </a>
        <br>
    }
</ol>